*,
*::before,
*::after {
    box-sizing: border-box;
}

p {
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    font-weight: bold;
    font-family: Ubuntu, Ariel, Helvetica, sans-serif;
}
h1 {
    color: #b9dbeb;
    font-style: italic;
}

a {
    color: blue;
    text-decoration: none;
}

.highlight {
    color: lightgray;
}
#title {
    border-width: 8px;
    border-style: none;
    border-color: black;
    border-radius: 10px;
    margin: 10px;
}
#main-title {
    text-align: center;
    color: B9DBEB;
}

.link {
    color: crimson;
}
head {
    text-align: center;
}
.banner {
    padding: 15px;
    border-width: 5px;
    border-style: none;
    border-color: black;
    border-radius: 5px;
    margin: 5px;
}
#bannerimage {
    width: 100%;
    background-image: url(images/AlanWakeTitle.jpg);
    height: 550px;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
}
#bannerimagesecond {
    width: 100%;
    background-image: url(images/alan2title.webp);
    height: 702px;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
}
.heading {
    text-align: center;
    border-style: none;
}
.video {
    text-align: center;
}

.centred-content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.table {
    justify-items: center;
    border-style: none;
}
.AlanSecond {
    display: inline;
}
.Saga {
    display: inline;
}
.Images {
    text-align: center;
}
.form {
    text-align: center;
}
.text {
    border-width: 8px;
    border-style: dotted;
    border-color: black;
    border-radius: 10px;
    margin: 10px;
}
.navbar {
    text-align: center;
    width: 100%;
}
.navbutton {
    background-color: black;
    border: 2px dotted #444;
    display: inline-block;
    width: 180px;
    margin: 1px;
    padding: 1px;
    max-height: 90px;
}
