p {
    color:red;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    font-weight: bold
}
h1 {
    color:blue;
    text-decoration:underline;
    font-style: italic
}

a{
    color: blue;
    text-decoration:none;
}

.highlight {
    color:green
}

main-title{
    color:brown
}
