p {
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    font-weight: bold;
    font-family: Ubuntu, Ariel, Helvetica, sans-serif;
}
h1 {
    color: blue;
    text-decoration: underline;
    font-style: italic;
}

a {
    color: blue;
    text-decoration: none;
}

.highlight {
    color: white;
}

#main-title {
    color: firebrick;
}

.link {
    color: mediumblue;
}
head {
    color: aqua;
    text-align: center;
}
